<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>mesen</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="css/styles.css" rel="stylesheet">
  </head>
  <body>
    <h1>mesen</h1>
    <p><i>a quick glance at global headlines.</i></p>

    <form action="/" method="post">
      <label for="countryInput">Country Name:</label>

      <select id="countryInput" name="countryName">
        <option value="us">United States</option>
        <option value="cn">China</option>
      </select>

      <button type="submit" class="btn btn-dark">Search</button>
    </form>

  <div class="container">
    <div class="row">

      <% for (var i = 0; i < articles.length; i++) { %>
        <div class="newscard col-lg-6">
          <img src=<%= articles[i].urlToImage%>>
          <h6> <%= articles[i].title %> </h6>
          <p> <%= articles[i].author %> </p>
          <p> <%= articles[i].description %> </p>
          <button type="submit" class="btn btn-dark">
            <a target="_blank" href=<%=articles[i].url%>>Read</a>
          </button>
        </div>
      <% } %>

      </div>
    </div>
  </div>

  </body>
</html>
